Search_Slack.json
{"flowContents":{"identifier":"9638e290-6782-352c-b30b-ae845fb8aaf6","instanceIdentifier":"c02e4054-e286-1abe-22e1-ddedb1261c57","name":"Search Slack","comments":"","position":{"x":1256.0,"y":680.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8b20e84a-7a63-3af6-bb21-ee11cbcaf9f3","instanceIdentifier":"c02e40a4-e286-1abe-f1a2-536b8ad5726a","name":"QueryRecord","comments":"","position":{"x":720.0,"y":2264.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"4a5bd01b-3669-3060-ac93-dbac02b02bb1","alllinks":"SELECT * FROM FLOWFILE\nWHERE type = 'link'\nLIMIT 20","record-reader":"b2f87d72-7de9-3d07-bff5-49dda8a5667a","include-zero-record-flowfiles":"false","best":"SELECT * FROM FLOWFILE\nWHERE type = 'text'\nAND CHAR_LENGTH(text) > 150\nLIMIT 3","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"alllinks":{"name":"alllinks","displayName":"alllinks","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"best":{"name":"best","displayName":"best","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"660db83d-de7c-3bfc-80e4-d81597003156","instanceIdentifier":"c02e4057-e286-1abe-9196-4b021da0911f","name":"Extract Key Fields","comments":"","position":{"x":712.0,"y":296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"messagedownloadurl":"$.files[0].urlPrivateDownload","messagerealname":"$.userDetails.realName","Destination":"flowfile-attribute","Max String Length":"20 MB","messagetype":"$.type","inputs":"$.text","Return Type":"json","messageid":"$.clientMsgId","Null Value Representation":"empty string","messagemimetype":"$.files[0].mimetype","messagethumbpdf":"$.files[0].thumbPdf","title":"$.files[0].title","messageusername":"$.userDetails.name","Path Not Found Behavior":"ignore","messagetimestamp":"$.files[0].timestamp","messagepermalinkpublic":"$.files[0].permalinkPublic","messagechannel":"$.channel","messagetext":"$.text","messageusertz":"$.userDetails.tz","messagefiletype":"$.files[0].filetype","threadTs":"$.threadTs","ts":"$.ts","messagesubtype":"$.subtype"},"propertyDescriptors":{"messagedownloadurl":{"name":"messagedownloadurl","displayName":"messagedownloadurl","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagerealname":{"name":"messagerealname","displayName":"messagerealname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"messagetype":{"name":"messagetype","displayName":"messagetype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"messageid":{"name":"messageid","displayName":"messageid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"messagemimetype":{"name":"messagemimetype","displayName":"messagemimetype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagethumbpdf":{"name":"messagethumbpdf","displayName":"messagethumbpdf","identifiesControllerService":false,"sensitive":false,"dynamic":true},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messageusername":{"name":"messageusername","displayName":"messageusername","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"messagetimestamp":{"name":"messagetimestamp","displayName":"messagetimestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagepermalinkpublic":{"name":"messagepermalinkpublic","displayName":"messagepermalinkpublic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagechannel":{"name":"messagechannel","displayName":"messagechannel","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagetext":{"name":"messagetext","displayName":"messagetext","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messageusertz":{"name":"messageusertz","displayName":"messageusertz","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagefiletype":{"name":"messagefiletype","displayName":"messagefiletype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"threadTs":{"name":"threadTs","displayName":"threadTs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"messagesubtype":{"name":"messagesubtype","displayName":"messagesubtype","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"4959c3ea-2a50-3f9e-a9b5-bd57fdb99c5d","instanceIdentifier":"c02e406f-e286-1abe-6872-e7fa420b4f84","name":"Search Information","comments":"","position":{"x":712.0,"y":2456.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.0.0-M2"},"properties":{"Max FlowFile Size":"1 MB","Thread Timestamp":"${theadTs:isNull():ifElse(${ts},${threadTs})}","Publish Strategy":"Use 'Message Text' Property","Channel":"C06MCRGT0JF","Message Text":"Search Results from ${messagerealname} - ${searchterm}  from ${searchchannelname} with Search Score ${searchscore}\n==> ${searchresulttext}\nNo Reacitons: ${searchnoreactions}\nPermalink to Result: ${searchpermalink}\nSearch Team: ${searchteam} Posted by ${searchusername}\n========= Dates: ${date} TS: ${searchts} KT: ${kafka.timestamp} ID: ${searchiid}","Character Set":"UTF-8","Include FlowFile Content as Attachment":"false"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"6bfd3f58-d2c5-35a4-992b-afdc0d3eb08e","instanceIdentifier":"c02e4075-e286-1abe-3933-9b4ce280dc5c","name":"Get High Level","comments":"","position":{"x":728.0,"y":1272.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","searchiid":"$.iid","searchmessagetype":"$.type","searchscore":"$.score","Max String Length":"20 MB","Return Type":"json","searchnoreactions":"$.no_reactions","searchusername":"$.username","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","searchts":"$.ts","searchteam":"$.team","searchpermalink":"$.permalink","searchresulttext":"$.text","searchchannelname":"$.channel.name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"searchiid":{"name":"searchiid","displayName":"searchiid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchmessagetype":{"name":"searchmessagetype","displayName":"searchmessagetype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchscore":{"name":"searchscore","displayName":"searchscore","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"searchnoreactions":{"name":"searchnoreactions","displayName":"searchnoreactions","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchusername":{"name":"searchusername","displayName":"searchusername","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"searchts":{"name":"searchts","displayName":"searchts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchteam":{"name":"searchteam","displayName":"searchteam","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchpermalink":{"name":"searchpermalink","displayName":"searchpermalink","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchresulttext":{"name":"searchresulttext","displayName":"searchresulttext","identifiesControllerService":false,"sensitive":false,"dynamic":true},"searchchannelname":{"name":"searchchannelname","displayName":"searchchannelname","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"e90e5e99-1930-324b-a0bd-69ef4bec347a","instanceIdentifier":"c02e4082-e286-1abe-a525-fd5a96f3edc4","name":"SplitJson","comments":"","position":{"x":720.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"44 MB","Null Value Representation":"empty string","JsonPath Expression":"$.blocks"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"e56d3265-1baf-3b20-9422-9355950972d9","instanceIdentifier":"c02e409b-e286-1abe-3815-e7f4428ec805","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":712.0,"y":2648.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"compression.type":"none","attribute-name-regex":"filename,avro.schema,schema.name","record-writer":"4a5bd01b-3669-3060-ac93-dbac02b02bb1","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"b2f87d72-7de9-3d07-bff5-49dda8a5667a","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"flank.slacksearchresults","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"4f4e2ce5-2ff2-3ddd-8549-e4b6f0d47f22","instanceIdentifier":"c02e4094-e286-1abe-c692-ccc097777703","name":"SplitRecord","comments":"","position":{"x":712.0,"y":1880.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"4a5bd01b-3669-3060-ac93-dbac02b02bb1","Record Reader":"b2f87d72-7de9-3d07-bff5-49dda8a5667a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f","name":"Search Slack API","comments":"","position":{"x":728.0,"y":888.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"25 secs","Response Cookie Strategy":"ACCEPT_ALL","Socket Read Timeout":"115 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://slack.com/api/search.messages?query=${searchterm:trim():urlEncode()}&count=9000&pretty=1","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"215 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"10787895-0fbd-3511-ab55-ddd94e93eef4","Response Generation Required":"false","Request User-Agent":"tim-slack-search","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"45ae1e90-4a60-3224-84bb-45db0dcc5167","instanceIdentifier":"c02e408b-e286-1abe-ca8f-0e44b6b4011b","name":"SplitJson","comments":"","position":{"x":720.0,"y":1664.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"44 MB","Null Value Representation":"empty string","JsonPath Expression":"$.elements.*.elements"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"8ffe62ae-3323-3efc-95ac-3932512b1ab3","instanceIdentifier":"c02e405a-e286-1abe-19f9-89f3d63d300e","name":"Set Meta Data","comments":"","position":{"x":712.0,"y":2072.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"3b083a66-c8a2-3bc8-8cfa-42074bb44a18","instanceIdentifier":"c02e4062-e286-1abe-2f95-750d3e764ade","name":"Route on Types","comments":"","position":{"x":712.0,"y":496.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","isSearch":"${messagetext:toUpper():contains('SEARCH')}","isStocks":"${messagetext:toUpper():contains('STOCK')}","isWeather":"${messagetext:toUpper():contains('WEATHER')}","isBus":"${messagetext:toUpper():contains('BUS')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isSearch":{"name":"isSearch","displayName":"isSearch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isStocks":{"name":"isStocks","displayName":"isStocks","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isWeather":{"name":"isWeather","displayName":"isWeather","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isBus":{"name":"isBus","displayName":"isBus","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"124c36f1-7dfb-3956-82db-52400187956d","instanceIdentifier":"c02e4079-e286-1abe-3c23-38e12355b2c5","name":"SplitJson","comments":"","position":{"x":728.0,"y":1072.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"44 MB","Null Value Representation":"empty string","JsonPath Expression":"$.messages.matches"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"b7c5efe3-638d-308b-993e-df8f8daf3448","instanceIdentifier":"c02e4056-e286-1abe-eccc-60c024b0938f","name":"Consume Kafka JSON Slack Messages","comments":"","position":{"x":704.0,"y":96.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"header-name-regex":null,"Commit Offsets":"true","sasl.username":null,"max.poll.records":"10000","group.id":"nifi-slackmessage-search-1","bootstrap.servers":"kafka:9092","topic_type":"names","aws.profile.name":null,"sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","honor-transactions":"true","Communications Timeout":"60 secs","topic":"flank-slack-messages-prompts","separate-by-key":"false","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"8b8a2321-b3d3-3059-ae5d-22ef199f1e4f","instanceIdentifier":"c02e4069-e286-1abe-f6d0-7411159bfad8","name":"Clean up Search","comments":"","position":{"x":720.0,"y":688.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"searchterm":"${messagetext:substringAfter('SEARCH:')}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"searchterm":{"name":"searchterm","displayName":"searchterm","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"}],"inputPorts":[],"outputPorts":[{"identifier":"a90d28d4-96c0-3de1-b76a-5358789914e8","instanceIdentifier":"c02e4066-e286-1abe-b923-fd3f40a2f067","name":"Out","position":{"x":1432.0,"y":544.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"}],"connections":[{"identifier":"b8969ea1-0899-3af3-9281-cfb70ef59521","instanceIdentifier":"c02e408e-e286-1abe-17b2-b1f2b3491a03","name":"","source":{"id":"45ae1e90-4a60-3224-84bb-45db0dcc5167","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e408b-e286-1abe-ca8f-0e44b6b4011b"},"destination":{"id":"02736aa7-12bb-3792-bf75-b5db400fe5d8","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e408d-e286-1abe-04d1-a89c398c585a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"3732413b-bf34-35d5-8d1e-95994461dcd2","instanceIdentifier":"c02e4067-e286-1abe-cd6f-c59c018bb8c7","name":"","source":{"id":"3b083a66-c8a2-3bc8-8cfa-42074bb44a18","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Route on Types","comments":"","instanceIdentifier":"c02e4062-e286-1abe-2f95-750d3e764ade"},"destination":{"id":"a90d28d4-96c0-3de1-b76a-5358789914e8","type":"OUTPUT_PORT","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Out","instanceIdentifier":"c02e4066-e286-1abe-b923-fd3f40a2f067"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isStocks","isWeather","isBus","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"77040d9a-8f23-3a96-bc98-79b4f176068c","instanceIdentifier":"c02e4086-e286-1abe-8767-661875db14b6","name":"","source":{"id":"6bfd3f58-d2c5-35a4-992b-afdc0d3eb08e","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Get High Level","comments":"","instanceIdentifier":"c02e4075-e286-1abe-3933-9b4ce280dc5c"},"destination":{"id":"8c065053-7b06-35ed-a5ac-6641268f87fd","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e407b-e286-1abe-538a-2b317156ff11"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"67459c4f-7747-31d5-ac97-8349242c6e3d","instanceIdentifier":"c02e4085-e286-1abe-f86f-be3a356665b0","name":"","source":{"id":"e90e5e99-1930-324b-a0bd-69ef4bec347a","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4082-e286-1abe-a525-fd5a96f3edc4"},"destination":{"id":"45ae1e90-4a60-3224-84bb-45db0dcc5167","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e408b-e286-1abe-ca8f-0e44b6b4011b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"9b9c3670-36ad-3e33-bb20-7b38174dc7f7","instanceIdentifier":"c02e4060-e286-1abe-3fd4-c3512dffc211","name":"","source":{"id":"660db83d-de7c-3bfc-80e4-d81597003156","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Extract Key Fields","comments":"","instanceIdentifier":"c02e4057-e286-1abe-9196-4b021da0911f"},"destination":{"id":"5f4cb55a-20a8-36b9-863c-bc8102902380","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e405d-e286-1abe-fb5c-5effc54797b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"45c7d714-eebb-3d95-8dcc-4036d3bc7a70","instanceIdentifier":"c02e409d-e286-1abe-4fd1-412b5311033e","name":"","source":{"id":"4959c3ea-2a50-3f9e-a9b5-bd57fdb99c5d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Information","comments":"","instanceIdentifier":"c02e406f-e286-1abe-6872-e7fa420b4f84"},"destination":{"id":"e56d3265-1baf-3b20-9422-9355950972d9","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"c02e409b-e286-1abe-3815-e7f4428ec805"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"ce6c62d7-ab8e-3795-8c99-f283f447c05a","instanceIdentifier":"c02e407f-e286-1abe-8fcd-f6b090e55bbe","name":"","source":{"id":"124c36f1-7dfb-3956-82db-52400187956d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4079-e286-1abe-3c23-38e12355b2c5"},"destination":{"id":"8c065053-7b06-35ed-a5ac-6641268f87fd","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e407b-e286-1abe-538a-2b317156ff11"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"ea47782f-bd1d-3c3f-8e28-f0e889cf7888","instanceIdentifier":"c02e405b-e286-1abe-6ebe-ed7b100a99ad","name":"","source":{"id":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Slack API","comments":"","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f"},"destination":{"id":"124c36f1-7dfb-3956-82db-52400187956d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4079-e286-1abe-3c23-38e12355b2c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"69a09061-cb4c-371b-aabc-c4787f170659","instanceIdentifier":"c02e4084-e286-1abe-3d6b-13aeac625eb3","name":"","source":{"id":"e90e5e99-1930-324b-a0bd-69ef4bec347a","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4082-e286-1abe-a525-fd5a96f3edc4"},"destination":{"id":"8c065053-7b06-35ed-a5ac-6641268f87fd","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e407b-e286-1abe-538a-2b317156ff11"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"27973059-d392-331a-8f2a-a503be8c7655","instanceIdentifier":"c02e406a-e286-1abe-bf0a-afc04b6fbf42","name":"","source":{"id":"8b8a2321-b3d3-3059-ae5d-22ef199f1e4f","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Clean up Search","comments":"","instanceIdentifier":"c02e4069-e286-1abe-f6d0-7411159bfad8"},"destination":{"id":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Slack API","comments":"","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"eee757a1-9183-343b-87e2-6cb98ee49bb6","instanceIdentifier":"c02e405c-e286-1abe-28f1-455dbf4158cc","name":"","source":{"id":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Slack API","comments":"","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f"},"destination":{"id":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Slack API","comments":"","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1195.0,"y":926.0},{"x":1195.0,"y":976.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"b3e1b60b-7d5c-3074-87ee-7d1e6babdd6b","instanceIdentifier":"c02e405f-e286-1abe-0820-d2247c4f79b8","name":"","source":{"id":"660db83d-de7c-3bfc-80e4-d81597003156","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Extract Key Fields","comments":"","instanceIdentifier":"c02e4057-e286-1abe-9196-4b021da0911f"},"destination":{"id":"3b083a66-c8a2-3bc8-8cfa-42074bb44a18","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Route on Types","comments":"","instanceIdentifier":"c02e4062-e286-1abe-2f95-750d3e764ade"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"ba2c1e9b-8c89-3d1e-963e-280bba9260f4","instanceIdentifier":"c02e408c-e286-1abe-a4a8-90cc9d1df510","name":"","source":{"id":"45ae1e90-4a60-3224-84bb-45db0dcc5167","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e408b-e286-1abe-ca8f-0e44b6b4011b"},"destination":{"id":"4f4e2ce5-2ff2-3ddd-8549-e4b6f0d47f22","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitRecord","comments":"","instanceIdentifier":"c02e4094-e286-1abe-c692-ccc097777703"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"08050ab4-d599-3860-8a2f-103d8bf6af52","instanceIdentifier":"c02e405e-e286-1abe-ab3d-f64dec9017ff","name":"","source":{"id":"042570c8-95aa-3b9f-a2f9-c2ec4203cde6","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Slack API","comments":"","instanceIdentifier":"c02e4059-e286-1abe-ea3c-6dc5a42b995f"},"destination":{"id":"5f4cb55a-20a8-36b9-863c-bc8102902380","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e405d-e286-1abe-fb5c-5effc54797b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"688647a2-38e2-3f44-b907-35246909f769","instanceIdentifier":"c02e40a6-e286-1abe-34c5-5442fe13f113","name":"","source":{"id":"8b20e84a-7a63-3af6-bb21-ee11cbcaf9f3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"QueryRecord","comments":"","instanceIdentifier":"c02e40a4-e286-1abe-f1a2-536b8ad5726a"},"destination":{"id":"02736aa7-12bb-3792-bf75-b5db400fe5d8","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e408d-e286-1abe-04d1-a89c398c585a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"588e2c3e-bd08-3b03-a676-c8790553df2f","instanceIdentifier":"c02e4095-e286-1abe-954b-22990f44973e","name":"","source":{"id":"4f4e2ce5-2ff2-3ddd-8549-e4b6f0d47f22","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitRecord","comments":"","instanceIdentifier":"c02e4094-e286-1abe-c692-ccc097777703"},"destination":{"id":"8ffe62ae-3323-3efc-95ac-3932512b1ab3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Set Meta Data","comments":"","instanceIdentifier":"c02e405a-e286-1abe-19f9-89f3d63d300e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"676dc44b-1b3d-32b2-be98-8f53f0b42901","instanceIdentifier":"c02e4083-e286-1abe-0656-4e6bd4415c87","name":"","source":{"id":"6bfd3f58-d2c5-35a4-992b-afdc0d3eb08e","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Get High Level","comments":"","instanceIdentifier":"c02e4075-e286-1abe-3933-9b4ce280dc5c"},"destination":{"id":"e90e5e99-1930-324b-a0bd-69ef4bec347a","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4082-e286-1abe-a525-fd5a96f3edc4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"acab8503-7dc1-364d-a793-dd22789f2543","instanceIdentifier":"c02e4098-e286-1abe-5577-8e937b12c60a","name":"","source":{"id":"8ffe62ae-3323-3efc-95ac-3932512b1ab3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Set Meta Data","comments":"","instanceIdentifier":"c02e405a-e286-1abe-19f9-89f3d63d300e"},"destination":{"id":"8b20e84a-7a63-3af6-bb21-ee11cbcaf9f3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"QueryRecord","comments":"","instanceIdentifier":"c02e40a4-e286-1abe-f1a2-536b8ad5726a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"72fdcfb7-c04c-33ee-b961-44d10bf5903a","instanceIdentifier":"c02e4099-e286-1abe-7728-40b8357b707a","name":"","source":{"id":"4959c3ea-2a50-3f9e-a9b5-bd57fdb99c5d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Information","comments":"","instanceIdentifier":"c02e406f-e286-1abe-6872-e7fa420b4f84"},"destination":{"id":"02736aa7-12bb-3792-bf75-b5db400fe5d8","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e408d-e286-1abe-04d1-a89c398c585a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["rate limited","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"c0aac49f-dbcc-39cc-90d3-0e98309f2c82","instanceIdentifier":"c02e40b2-e286-1abe-efcb-05a984da6042","name":"","source":{"id":"8b20e84a-7a63-3af6-bb21-ee11cbcaf9f3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"QueryRecord","comments":"","instanceIdentifier":"c02e40a4-e286-1abe-f1a2-536b8ad5726a"},"destination":{"id":"22a2949b-c5c8-3edf-ba8a-f5dd9d550209","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e40a8-e286-1abe-602e-396a75d6fc2b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","alllinks"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"e3c06361-a832-37aa-87ed-0d898e7234b0","instanceIdentifier":"c02e4065-e286-1abe-afe1-768b97940eeb","name":"","source":{"id":"3b083a66-c8a2-3bc8-8cfa-42074bb44a18","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Route on Types","comments":"","instanceIdentifier":"c02e4062-e286-1abe-2f95-750d3e764ade"},"destination":{"id":"8b8a2321-b3d3-3059-ae5d-22ef199f1e4f","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Clean up Search","comments":"","instanceIdentifier":"c02e4069-e286-1abe-f6d0-7411159bfad8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isSearch"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"c0347d94-af43-3467-bbe1-d01ade352530","instanceIdentifier":"c02e407a-e286-1abe-3310-d56b1b69375b","name":"","source":{"id":"124c36f1-7dfb-3956-82db-52400187956d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitJson","comments":"","instanceIdentifier":"c02e4079-e286-1abe-3c23-38e12355b2c5"},"destination":{"id":"6bfd3f58-d2c5-35a4-992b-afdc0d3eb08e","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Get High Level","comments":"","instanceIdentifier":"c02e4075-e286-1abe-3933-9b4ce280dc5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"8f60bd71-f60f-3034-a3cc-4ad42638bc1e","instanceIdentifier":"c02e4096-e286-1abe-f60b-447c0c3c0799","name":"","source":{"id":"4f4e2ce5-2ff2-3ddd-8549-e4b6f0d47f22","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"SplitRecord","comments":"","instanceIdentifier":"c02e4094-e286-1abe-c692-ccc097777703"},"destination":{"id":"02736aa7-12bb-3792-bf75-b5db400fe5d8","type":"FUNNEL","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Funnel","comments":"","instanceIdentifier":"c02e408d-e286-1abe-04d1-a89c398c585a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"e2724b3d-e6fe-34ca-b92d-334127d16db7","instanceIdentifier":"c02e4058-e286-1abe-2837-3b82ce4bee46","name":"","source":{"id":"b7c5efe3-638d-308b-993e-df8f8daf3448","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Consume Kafka JSON Slack Messages","comments":"","instanceIdentifier":"c02e4056-e286-1abe-eccc-60c024b0938f"},"destination":{"id":"660db83d-de7c-3bfc-80e4-d81597003156","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Extract Key Fields","comments":"","instanceIdentifier":"c02e4057-e286-1abe-9196-4b021da0911f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"1d6a72c1-e0ca-3316-ba84-74ab05c5e8fd","instanceIdentifier":"c02e40a5-e286-1abe-8273-5e57cd2e38e0","name":"","source":{"id":"8b20e84a-7a63-3af6-bb21-ee11cbcaf9f3","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"QueryRecord","comments":"","instanceIdentifier":"c02e40a4-e286-1abe-f1a2-536b8ad5726a"},"destination":{"id":"4959c3ea-2a50-3f9e-a9b5-bd57fdb99c5d","type":"PROCESSOR","groupId":"9638e290-6782-352c-b30b-ae845fb8aaf6","name":"Search Information","comments":"","instanceIdentifier":"c02e406f-e286-1abe-6872-e7fa420b4f84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["best"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"}],"labels":[],"funnels":[{"identifier":"5f4cb55a-20a8-36b9-863c-bc8102902380","instanceIdentifier":"c02e405d-e286-1abe-fb5c-5effc54797b3","position":{"x":96.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"8c065053-7b06-35ed-a5ac-6641268f87fd","instanceIdentifier":"c02e407b-e286-1abe-538a-2b317156ff11","position":{"x":192.0,"y":1312.0},"componentType":"FUNNEL","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"22a2949b-c5c8-3edf-ba8a-f5dd9d550209","instanceIdentifier":"c02e40a8-e286-1abe-602e-396a75d6fc2b","position":{"x":1488.0,"y":2336.0},"componentType":"FUNNEL","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"02736aa7-12bb-3792-bf75-b5db400fe5d8","instanceIdentifier":"c02e408d-e286-1abe-04d1-a89c398c585a","position":{"x":160.0,"y":2112.0},"componentType":"FUNNEL","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"}],"controllerServices":[{"identifier":"b2f87d72-7de9-3d07-bff5-49dda8a5667a","instanceIdentifier":"c02e407d-e286-1abe-58e2-d0d21a746ae0","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"4a5bd01b-3669-3060-ac93-dbac02b02bb1","instanceIdentifier":"c02e407e-e286-1abe-42ca-9e164744c47d","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"},{"identifier":"10787895-0fbd-3511-ab55-ddd94e93eef4","instanceIdentifier":"c02e4063-e286-1abe-cdc4-f0b157b12307","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/Users/tspann/.sdkman/candidates/java/21.0.1-graal/lib/security/cacerts","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9638e290-6782-352c-b30b-ae845fb8aaf6"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}